.padding20{
  padding: 20px;
}

.example-full-width{
  width: 100%;
}

.game-table{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.game-table th {
  text-align: center;
}

.score-input{
  text-align: center;
  width: 40px;
  background: darkgrey;
  font-size: 14px;
  font-family: 'Roboto';
}

.game-container{
  width: 100%;
  text-align: center;
}

.margin-top{
  margin-top: 40px;
}
