<form [formGroup]="form">
  <mat-form-field class="example-full-width" style="display: block">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width" style="display: block">
    <mat-label>Surname</mat-label>
    <input  matInput formControlName="surname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field class="example-full-width" style="display: block">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>

  <button mat-button color="warn" style="width: 100%" (click)="createAccount()">REGISTER</button>
  <button mat-button color="primary" style="width: 100%" (click)="this.dialogRef.close()">CLOSE</button>
</form>
